html,
body {
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 270px;
}
h2 {
  font-family: "Menlo", monospace;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: #2f5876;
}

ul {
  list-style-type: none;
}
li {
  margin-top: 5px;
}

.margin-top-5 {
  margin-top: 5px;
}

.container {
  padding: 5px;
}
#inputWarper {
  margin: 7px 0;
}
.company-name {
  padding: 1px;
}

.remove-btn {
  opacity: 0.3;
  padding: 0 28px 0 0;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.remove-btn:hover {
  opacity: 1;
}
.remove-btn:before,
.remove-btn:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #333;
}
.remove-btn:before {
  transform: rotate(45deg);
}
.remove-btn:after {
  transform: rotate(-45deg);
}
#companyNameList {
  height: 150px;
  overflow: auto;
  position: relative;
}

#errorMessage {
  color: red;
  font-size: 12px;
  height: 15px;
}

label.myLabel input[type="file"] {
  position: absolute;
  top: -1000px;
}

.myLabel {
  border: 1px solid #000;
  border-radius: 3px;
  margin: 2px;
  background: rgb(239, 239, 239);
  display: inline-block;
  padding: 2px 6px;
  font-size: 12px;
}
.myLabel:hover {
  background: #ccc;
}
.myLabel:active {
  background: #ccf;
}
